* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background:rgba(8, 144, 178, 0.062);
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-box {
  
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(217, 217, 228, 0.39);

  
  text-align: center;
  font-size: 26px;  
  cursor: pointer;
}

.content-box:hover {
  background: rgba(8, 145, 178, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  

}
